.btnX {
    margin-top: 8px;
    display: block;
}

.fikt {
    position: absolute;
    top: 15px;
    right: 15px;
}

.uklo {
    position: absolute;
    top: 15px;
    left: 15px;
}

/*the input used by the select tag has this class when materialize-css is used*/
.select-dropdown {
    color: white;
}

.back-button {
    float: left;
}

.conclusion-button {
    margin-right: 5px;
}